@media (min-width: 576px) {
    .container {
      max-width: 540px !important;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px !important;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px !important;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1400px !important;
    }
  }

  @media (min-width: 2120px) {
    .container {
      max-width: 1600px !important;
    }
  }

  @media (min-width: 576px) {
    .container, .container-sm {
      max-width: 540px !important;
    }
  }
  
  @media (min-width: 768px) {
    .container, .container-sm, .container-md {
      max-width: 720px !important;
    }
  }
  
  @media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg {
      max-width: 960px !important;
    }
  }
  
  @media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
      max-width: 1300px !important;
    }
  }

  @media (min-width: 2120px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
      max-width: 1600px !important;
    }
  }
  
#app{
    min-height: 100vh !important;
    height: 100vh !important;
}

body
{	
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.hide{
    display: none;
}

.content{
    padding-top: 0%;
    padding-bottom: 0%;
}

.height-fix{
    height: 100%;
}

.width-fix{
    width: 100%;
}

.need-space{
    padding-top: 10px;
    padding-bottom: 10px;
}

.col-post{
  height: 100vh;
  color: #ffffff;
  border: 1px solid;
  border-color: #4090AA;
  .head-col{
    background-color: #4090AA;
    h3{
      padding-top: 2%;
      padding-bottom: 1%;
      letter-spacing: 3px;
    }
  }  

  .card-pack{
    width: 80%;
    height: 240px;
    border-color: #4090AA;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    color: #444444;
    .img-pack{
      width: 100%;
      position: relative;
      z-index: 0;
      img{
        position: absolute;
        z-index: 1;
        width: 100%;
        height: auto;
      }
      .img-pack-details{
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 80px;
        opacity: 0.7;
        top: 110px;
        background-color: #35BEE0;
      }
      .img-pack-info{
        color: #ffffff;
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 80px;
        top: 110px;
        h6{
          font-size: 16px;
          letter-spacing: 2px;
          padding-top: 8px;
        }
        p{
          font-size: 12px;
        }
        img{
          height: 80px;
          width: auto;
        }
      }
    }
  }

  .card-articulo{
    width: 80%;
    height: 240px;
    border: 0px;    
    color: #444444;
    .card-articulo-title{
      width: 100%;
      padding: 2% 1%;
      background-color: #f1f1f1;
      color: #000000;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    }
    img{
      height: 80px;
    }
  }
}

.card-cat-01{
  background-color: #35BEE0;
  color: #ffffff;
  letter-spacing: 2px;
  border: 0px;
  -webkit-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.4);
}

.card-cat-02{
  background-color: #59499E;
  color: #ffffff;
  border: 0px;
  letter-spacing: 2px;
  -webkit-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.4);
}

.card-cat-03{
  background-color: #5CBA47;
  color: #ffffff;
  border: 0px;
  letter-spacing: 2px;
  -webkit-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.4);
}

.card-cat-04{
  background-color: #FF6EA1;
  color: #ffffff;
  border: 0px;
  letter-spacing: 2px;
  -webkit-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.4);
}

.card-cat-05{
  background-color: #8589EF;
  color: #ffffff;
  border: 0px;
  letter-spacing: 2px;
  -webkit-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.4);
}

.card-cat-06{
  background-color: #FFC611;
  color: #ffffff;
  border: 0px;
  letter-spacing: 2px;
  -webkit-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.4);
}

.pagination{
    display:flex;
    justify-content:center;
    align-items:center;
    button{
        margin-right: 1%;
        margin-left: 1%;
    }
}

.pagination .paginate-index{
    border-color: #2e2e2e !important;
    background-color: #2e2e2e !important;
    color: #f8faff !important;
    box-shadow: none !important;
}

.pagination .paginate-index:disabled{
    opacity: 1;
}

.pagination .paginate-actual{
    border-color: #E8175D !important;
    background-color: #E8175D !important;
    color: #f8faff !important;
    box-shadow: none !important;    
}

.pagination .paginate-actual:disabled{  
    opacity: 1;
}

.pagination .paginate-index:hover{
    border-color: #444444 !important;
    background-color: #444444 !important;
}

.pagination .paginate-prev{
    border-color: #2e2e2e !important;
    background-color: #2e2e2e !important;
    color: #f8faff !important;
    box-shadow: none !important;
}

.pagination .paginate-prev:hover{
    border-color: #444444 !important;
    background-color: #444444 !important;
}

.pagination .paginate-next{
    border-color: #2e2e2e !important;
    background-color: #2e2e2e !important;
    color: #f8faff !important;
    box-shadow: none !important;
}

.pagination .paginate-next:hover{
    border-color: #444444 !important;
    background-color: #444444 !important;
}

.card-pack-default{
  height: 75vh;
  border: 1px solid;
  border-color: #4090AA;
  border-radius: 5px;
  padding: 2%;
  -webkit-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.4);
  color: #444444;

  .card-pack{
    width: 100%;
    height: 35vh;
    border-color: #4090AA;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    color: #444444;
    .card-body{
      padding: 0px;
    }
    .img-pack{
      width: 100%;
      position: relative;
      z-index: 0;
      img{
        position: absolute;
        z-index: 1;
        width: 100%;
        height: auto;
      }
      .img-pack-details{
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 120px;
        opacity: 1;
        top: 220px;
        background-color: #35BEE0;
      }
      .img-pack-info{
        color: #ffffff;
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 120px;
        top: 220px;
        padding-top: 3%;
        h6{
          font-size: 24px;
          letter-spacing: 2px;
        }
        p{
          font-size: 20px;
        }
        img{
          height: 80px;
          width: auto;
        }
      }
    }
  }

  .comentario-paquete{
    margin: 2% 1%;
    background-color: #F7F6F3;
    border-radius: 10px;
    h6{
      color: #E8175D;
    }
    h6, p{
      margin: 10px;
    }
  }
}

.card-video-default{
  height: 110vh;
  border: 1px solid;
  border-color: #4090AA;
  border-radius: 5px;
  padding: 2%;
  -webkit-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.4);
  color: #444444;

  .card-pack{
    width: 100%;
    height: 35vh;
    border-color: #4090AA;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    color: #444444;
    .card-body{
      padding: 0px;
    }
    .img-pack{
      width: 100%;
      position: relative;
      z-index: 0;
      img{
        position: absolute;
        z-index: 1;
        width: 100%;
        height: auto;
      }
      .img-pack-details{
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 120px;
        opacity: 1;
        top: 220px;
        background-color: #35BEE0;
      }
      .img-pack-info{
        color: #ffffff;
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 120px;
        top: 220px;
        padding-top: 3%;
        h6{
          font-size: 24px;
          letter-spacing: 2px;
        }
        p{
          font-size: 20px;
        }
        img{
          height: 80px;
          width: auto;
        }
      }
    }
  }

  .comentario-paquete{
    margin: 2% 1%;
    background-color: #F7F6F3;
    border-radius: 10px;
    h6{
      color: #E8175D;
    }
    h6, p{
      margin: 10px;
    }
  }
}

.plyr--full-ui input[type=range] {
  color: #E8175D !important;
}

.plyr__control--overlaid {
  background: rgba(232, 23, 93, .8) !important;
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true] {
  background: #E8175D !important;
}

.plyr__control.plyr__tab-focus {
  box-shadow: 0 0 0 5px rgba(232, 23, 93, .5) !important;
}

.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
  background: #E8175D !important;
}
